/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/*.php
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views/*.php
/storage/logs/*.log
/.idea
/.vscode
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
pnpm-debug.log
yarn-error.log
/.fleet
/.phpunit.cache
